    </main>

 


    <footer class="footer-16371" id="footer-container">
        <div class="container" id="footer-container">
          <div class="row justify-content-center">
            <div class="col-md-9 text-center">
                <div class="footer-site-logo mb-4">
                    <a href="/"><img class="logo-image" src="../assets/logo.png" alt="logo"></a>
                  </div>

                  <div class="container">
                    <div class="row">
                      <div class="col">
                        +45 27620534
                      </div>
                      <div class="col">
                        <a href="mailto:Sklejnstrup@gmail.com">Sklejnstrup@Gmail.com</a>
                      </div>
                      <div class="col">
                        <a href="/admin">Login</a>
                      </div>
                    </div>
                  </div>
              
  
              <div class="copyright">
                <p class="mb-0" id="copyright-year"><small>&copy;</small></p>
              </div>
  
            </div>
          </div>
        </div>
      </footer>

    <script src="./components/footer/footer.js"></script>
</body>
</html>